%h2 Here are all of the users in Snailmail
%h3 They are the pioneers

%table
	%tr
		%th Name
		%th Address
		%th City
		%th State
		%th zip
	- @users.each do |user|
		%tr
			%td
				%a(title=@title href='/user/#{user.id}')= user.name
			%td= user.address1
			%td= user.city
			%td= user.state
			%td= user.zip