%html
	%head
		%title User

%h3= @user.name

%table
	%td= @user.address1
	%td= @user.city
	%td= @user.state
	%td= @user.zip

%a(title=@title href='/user/#{@user.id}/message/new') Write a message

%h3 Messages sent by #{@user.name}
%table
	%tr
		%th To
		%th Content
		%th Random
	- @messages.each do |message|
		%tr
			%td= message.to
			%td= message.content
			%td= message.random